#fav{
    position: relative;
    width: 40px;
    height: 30px;
    grid-area: fav;
    align-self: center;
    justify-self: center;      
}
.addFav div{
    background-color: red;       
  }
.addFav{
    width: 40px;
    height: 30px;
    align-self: center;
    justify-self: center;
    color: red;
}
.removeFav{
    width: 40px;
    height: 30px;
    align-self: center;
    justify-self: center;
    color: grey;
    
}
  