#searchItemsContainer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    top: 50px;
}
#searchResult{
    color: #8E8E93;
}

#searchHeader{
    display: flex;
    width: 90%;
    justify-content: left;   
    align-items: center;
    margin: auto; 
    position: fixed;
    z-index: 2;   
}
#searchHeader h3{
    position: relative;
    left: 30px;
}
#searchHeader button{
    border: none;
    height: 30px; 
    width: 70px;
    border-radius:15px;
    font-weight: 500;
   background: #2F7EB8;
    font-size: large;
    
}
#searchItemsContainer p {
    width: 100%;
    font-weight: 700;
}

@media only screen and (max-width:765px){
    #searchItemsContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media only screen and  (max-width: 1024px) and (min-width: 768px)  {
    #searchItemsContainer{
        width: 100%;
        top: 110px;
    }
    #searchHeader button ,#searchHeader h3{
        font-size: 34px;
    } 
    #searchHeader button{
        height: 70px;
        width: 150px;
    }
}

