#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}
#searchContainer{
    display: flex;
    justify-content: center;
}
p{
    color: #2F7EB8;
    font-size:24px;
    width: max-content;
}
#search{
    background-color: #00000014;
    border: none;
    width: 20rem;
    height: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;   
}
#searchButton{
    background-image: url("../../assets/icons/search.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 40px;
    background-color: #00000014;
    background-size: 60px 100%;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    top: 10px;
    right: 15px;
}
#filter{
     display: flex;
    position: relative;     
    align-items: center; 
     opacity: 0;   
    transition: opacity 2s ease-in-out;
}
#filter h3{
    margin: 0;
}
#filterIconContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.filtericon{
    background-color: black;    
    width: 20px;
    height: 3px;  
    margin: 2px;  
}
.filtericon:first-child{
    width: 30px;
}

.filtericon:last-child{
    width: 15px;
}

@media only screen and  (max-width: 1024px) and (min-width: 768px)  {
    #header p{
        font-size: 32px;
    }
    #searchContainer input{
        width: 23rem;
        height: 32px;
        font-size: 32px;
    }
    #searchContainer button{
       width: 63px;
       height: 58px;
    }

}
