#container{   
    margin: auto;   
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;  
    grid-template-rows: 1fr 2fr 1fr;  
    grid-template-areas: "leftButton  card rightButton"
                         ". slider ."   
    
    ;
    width: 700px;
    height: 500px;  
    margin-top: 25px;
    
}
.cardContainer{
    position: relative;   
    width: 700px;
    height: 500px;
    grid-area:card ;
    overflow: hidden;
   
}
#hotDealsContainer{
    display: flex;
    position: absolute;
    transition: transform 1s ease-in-out;     
}
#leftButton{
    grid-area: leftButton;
    align-self: center;
    justify-self: right;
    position: relative;
    left: 17px;
    z-index: 1;
    background-color: lightsteelblue;
    padding: 5px;
    border: none;
}

#rightButton{
    grid-area: rightButton;
    align-self: center;
    justify-self: left;
    z-index: 1;
    position: relative;
    right: 17px;
    background-color: lightsteelblue;
    padding: 5px;
    border: none;
}

#slider{
    width: max-content;
    height: max-content;
    display: flex;   
    grid-area: slider;
    align-self: flex-end;
    justify-self: center;
    bottom: 15px;
    position: relative;
}
.curruentItem{
    background-color:#69ACDF;
    width: 14px;
    border-radius: 35%;     
 }
.sliderChildern{
    border:solid 0.1px black;
}


@media only screen and (max-width: 765px){
   
    #hotDeals,#container,.cardContainer{
        width: 90vw;        
    }
    #container{
        margin: 0;
        margin-top: 15px;
    }
    #searchContainer{
        width: 90%;
    }
    #searchContainer input{
        font-size: large;

    }   
    #rightSlid{
        justify-self: end;
    }     

}

@media only screen and (max-width: 360px){
   
    #hotDeals,#container,.cardContainer{
        width: 90vw;        
    } 
}

@media only screen and (width: 768px){   
   #container{
       width:100%;
       grid-template-columns:2.5% 97% 1%;;
       height: 700px;
   }
   .cardContainer{
        height:700px;
   }
   #leftButton,#rightButton{
    width: 32px;
    height: 40px;
    font-size: 30px;
   }
   #leftButton{
       left: 32px;
   }
   #rightButton{
       right: 42px;
   }
}
@media only screen and  (max-width: 1024px) and (min-width: 800px)  {

    #container{
        width:100%;
        grid-template-columns:2.5% 97% 1%;;
        height: 700px;
    }
    .cardContainer{
        height:700px;
        width: 950px;
    }
    #leftButton,#rightButton{
     width: 32px;
     height: 40px;
     font-size: 30px;
    }
    #leftButton{
        left: 32px;
    }
    #rightButton{
        right: 26px;
    }
}