#profileContainer{
    display: flex;
    width: 100%;    
   justify-content: flex-end; 
}
.sideBar{
    display: none;
}
@media only screen and (max-width:765px){
    .sideBar{
        display: block;
        position: relative;
        top: 80px;
        left: 15px;
        width: 30px;
        height: 30px;
    }
    #profileContainer{
        flex-direction: column;
        align-items: flex-start;   
    }
}

@media only screen and  (max-width: 1024px) and (min-width: 768px)  {
    .sideBar{
        display: block;
        position: relative;
        top: 80px;
        left: 15px;
        width: 40px;
        height: 40px;
    }
    .sideBar svg{
        width: 100%;
        height: 100%;
    }
    #profileContainer{
        flex-direction: column;
        align-items: flex-start;   
    }
}