.teamCardItem{
    grid-area: team;
    display: flex;
    align-items: flex-end;
}
.teamCardItem p{
    color: white;
    font-size: medium;
    position: relative;
    left: 20px;    
}
#teamPrice{
    grid-area: price;
    width: 60px;
    align-self: flex-end;
    position: relative;
    bottom: 15px;
    color: white;
    font-weight: 500;
    font-size: large;
    font-size: 24px;
}
#teamCard{
    grid-area: card;
}

@media only screen and  (max-width: 1024px) and (min-width: 768px)  {
    .teamCardItem p,#teamPrice,#teamCard{
        font-size: 32px;
    }


}
