#allItems{
    position: relative;
    width: 100%;   
}
#allItems h3{
    text-align: left;
}
#itemsList{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin:auto;    
}

#itemsList button{
    width: max-content;
    font-size: large;
    color: #8E8E93;
    background-color: white;
    border: none;
    font-weight: bold;
}
#itemsList button:focus{
    color: #2F7EB8;
}

#itemsContainer{  
    flex-wrap: wrap;
    width: 80%;   
    margin: auto; 
    position: relative;
    top: 20px;
}
#popular{
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    
}
#new{
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
}
.focusBorder{    
    background: #2F7EB8;
    width: 30%;
    height: 3px;
    margin: auto;
    margin-top: 3px;
}


@media only screen and (max-width: 765px){
    #allItems{
        width: 100%;
    }
    #itemsList{
        width:100%;
    }     

    #itemsContainer{
        width:100%;
    }
    #popular{
        flex-direction: column;
    }
    #popular div, #new div{
        width: 90%;
    }
}


/*@media only screen and (width: 768px){ */  
    @media only screen and  (max-width: 1024px) and (min-width: 768px)  {

   #allItems h3{
       font-size: 33px;
       font-weight: 700;
   }
   #itemsList{
       justify-content: space-between;
   }
   #itemsList button{
       font-size: 30px;
   }
   #itemsContainer{
       width: 100%;
   }
   
}
