#teamSliderContainer{   
   
    width: 100%;    
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 0.5fr 3fr 3fr 0.5fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: ". teams viewAll ."
                          "leftSlid teamSlider teamSlider rightSlid"    
    ;
}

#teamSliderContainer h3{    
    grid-area: teams;  
    align-self: center;
    justify-self: start;
}
#teamSliderContainer p{
    grid-area: viewAll;  
    font-size: medium;
    align-self: center;
    justify-self: end;
}
#teamSlider{
    position: relative;
    height: 40px;    
    width: 100%px;
    grid-area: teamSlider;   
    align-self: center;
    display: flex;
    justify-content: space-between;
    overflow:hidden;
}
#teamsContainer{
    position: absolute;
    display: flex;    
    transition: transform 0.4s ease-in-out;
}
.teamImages{
    width: 40px;
    margin: 0px 15px; 
    height: 40px;    
}
#leftSlid , #rightSlid{
    background-color: lightsteelblue;
}
#leftSlid{
    grid-area:leftSlid ;
    align-self: center;
    justify-self: right;
    padding: 5px;
    border: none;
    /* position: relative;
    right: 20px; */
    z-index: 1;
}

#rightSlid{
    grid-area: rightSlid ;
    align-self: center;
    justify-self: left;
    padding: 5px;
    border: none;
    /* position: relative;
    left: 20px; */
    z-index: 1;
}


@media only screen and  (max-width: 1024px) and (min-width: 768px)  {
    #teamSliderContainer h3{
        font-size: 34px;
        margin: 0;
        font-weight: 700;
    }
    #teamSliderContainer p{
        font-size: 34px;
        margin: 0;
    }
    #leftSlid,#rightSlid{
        width: 32px;
        height: 44px;
        font-size: 32px;
        font-weight: 600;
    }
    #teamSlider{
        height: 65px;
    }
    .teamImages{
        width: 65px;
        margin: 0px 15px;
        height: 65px;
    }


}

