#profile{
    position: relative;
    top: 80px;
    width: 30%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    border: solid 1px #E4E4E4;
    padding: 30px;
    position: fixed;
    left: 30px;
}
#profile h2{
    margin: 0;
}

#profile p{
    color: black;
    font-size: medium;
    color: #414141;
    margin: 5px 0px;
}
#userProfileName{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #E4E4E4;   
    padding: 20px;
    width: 80%;
}
#userProfileName img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.profileContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: solid 1px #E4E4E4;
    width: 90%;
    padding: 15px;
}
.profileContainer label{
    margin: 10px 0;    
}

.profileContainer img{
    width: 20px;
    height: 20px;    
}
.profileItemsSelect{
    color: #2F7EB8;
}

@media only screen and (max-width:765px){
    #profile{
        left: -1000px;
        background: white;
        z-index: 3;
        width: 85%;        
        top:150px;
    }  
}

@media only screen and  (max-width: 1024px) and (min-width: 768px)  {
    #profile{
        left: -1000px;
        background: white;
        z-index: 3;
        width: 80%;        
        top:150px;
        height: 100%;
    }  
    #userProfileName h2,#userProfileName p,.profileContainer label{
        font-size: 32px;
    }
    .profileContainer p{
        font-size: 28px;
    }

    .profileContainer label img{
        width: 30px;
        height: 30px;
    } 
}