#itemPageContainer{
    position: relative;
    top: 80px;
    display: flex;
    width: 95%;  
    justify-content: center; 
    
}
#itemPageContainer h2{
    margin:0;
}
#itemDetailesContainer{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: stretch;
    height: 400px;
    width: 35%;
    position: relative;
    top: 70px;
}
.itemPageDetailes{
    position: relative;
    top: 15px;
    display: flex;
    justify-content: space-around;
}
.itemPageDetailes p , .itemPageDetailes h2{
    color: black;
    text-align: center;
    margin:5px; 
    font-size: large;
    
}


@media only screen and (max-width: 765px){   
    #itemPageContainer{
        flex-direction: column;
    }   
    .itemPageDetailes p, #itemPageDetails label,#naming button,#itemBuyContainer button{
        font-size: large;
        font-weight: 700;
    }    
}


@media only screen and  (max-width: 1024px) and (min-width: 768px)  {
    #itemPageContainer{
        flex-direction: column;
        width: 100%;
    }      
   
    #itemDetailesContainer h2,.itemPageDetailes p,#itemPageDetailes label,#namingContainer label,#naming button,#itemBuyContainer button {
        font-size: 40px;
    } 
   
    #itemDetailesContainer{
       width: 90%;
        margin: auto;
        height: 100%;
    }
    
}