#namingContainer{
    display: flex;
    flex-direction: column;
    margin: 30px 0;   
}

#namingContainer label{
    text-align: left;
    color: #8E8E93;
    font-weight: 500;
    padding: 10px;
}
#naming{
    display: flex;
    justify-content: space-between;
}
#naming button{
    width: 30%;
}
.naminButton{
    background: #EFEFF4;
    padding: 10px 20px;
    font-size: larger;
    font-weight: 500;
    color: #8E8E93;
    border: none;
    border-radius: 15px;
}
.selectdName{
    background: #EFEFF4;
    padding: 10px 20px;
    font-size: larger;
    font-weight: 500;
    color: #2F7EB8;
    border:solid 1px #2F7EB8;
    border-radius: 15px;
}
