#nav{
    background: #2F7EB8;
    position: fixed;  
    width: 100%;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav ul{    
    list-style: none;      
    width: 95%;  
    display: flex;    
    margin:0;    
}
#nav ul li{
    margin-left: 10px;
}
#nav ul li a,#loginButton a {
    text-decoration: none;
    color: white;
    font-size: large;    
    width: max-content;
}

#loginButton{
    background: #2F7EB8;
    width:100px;
    height: 40px;
    border-radius:5px; 
    margin: 15px;  
    border: none;
    color: white;   
    font-size: 16px;    
}

@media only screen and (max-width:480px){
    #nav ul li a,#loginButton a{
        font-size: x-large;
    }
}

@media only screen and  (max-width: 1024px) and (min-width: 768px)  {
    #nav ul li a,#loginButton a,#loginButton{
        font-size: 34px;
    } 
}


